.about-page-container {
    padding: 10px;
    box-sizing: border-box;
}

.about-page {
    width: 100%;
    height: 100%;
    padding: 40px;
    box-sizing: border-box;
    overflow: auto;
    /* display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center; */
}

.grid-cols-2 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.gap-6 {
    gap: 1.5rem;
}

.grid {
    display: grid;
}

.member-card {
    width: 300px;
    height: 250px;
    padding: 10px;
    box-sizing: border-box;
    
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    border-radius: 10px;
    box-shadow: 1px 0px 0px white;
}

.member-card-member-name {
    font-weight: 750;
    font-size: 1.5rem;
}

.member-card-member-designation {
    font-weight: 700;
    font-size: 1.1rem;
}

.member-card-view-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.member-card-image-tag {
    /* position: absolute; */
}

.member-card-image-tag > img {
    min-width: 110px;
    height: 110px;

    border-radius: 50%;
}

.light-border {
    border: 1px solid white;
}

.dark-border {
    border: 1px solid #0000009d;
}

.light-background {
    color: #ffffff67;
}

.pencil-background {
    color: #0000009d;
}

@media (min-width: 660px) {
    .grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
     }
}

@media (min-width: 1200px) {
    .grid-cols-2 {
         grid-template-columns: repeat(3, minmax(0, 1fr));
     }
}